.img-product-checkout {
    max-width: 80px;
    position: relative;

    img {
        max-width: 100%;
        border: 1px solid var(--color-grey);
        border-radius: 5px;
        object-fit: cover;
    }

    .qty-product-checkout {
        position: absolute;
        top: -8px;
        left: 75px;
        border: none;
        background-color: #8f9bb3;
        border-radius: 50%;
        font-size: 8px;
        font-weight: 400;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        color: var(--color-white);
    }
}

.product-item-checkout {
    .title-product-checkout {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    td {
        padding-bottom: 2rem;
    }
}
