.home-page-content {
    padding: 1rem 3rem;

    .product-frame {
        padding: 1rem 0rem;

        .product-frane-title {
            padding: 1rem 0rem;

            .product-frane-title-item {
                h1 {
                    font-weight: 700;
                }

                span {
                    padding-left: 1rem;
                }
            }
        }
    }
}
