.footer-content {
    padding-top: 1rem;
    svg {
        margin-right: 1rem;
    }
}

.footer {
    background-color: var(--bgcolor-footer);
    color: var(--color-black);
    margin: 0;
    padding: 0 5rem;

    a {
        text-decoration: none;
        color: var(--color-black);
    }
}
.copy-right {
    color: var(--color-white);
    background-color: var(--color-black);
    font-size: 1.6rem;
    padding: 1rem;
}
