.products-related {
    background-color: var(--color-white);
    padding: 20px 10px;
    border-radius: 10px;
    margin-top: 40px;
    .title-products-related {
        background-color: var(--color-hover);
        color: var(--color-white);
        border-radius: 10px;
        padding: 10px;
    }
}
