.pagenationRoot {
    display: flex;
    align-items: center;
    justify-content: center;

    > .pagenation {
        display: inline-block;
        padding: 8px 16px;
        border: 1px solid none;
        border-radius: 5px;
        margin: 0px 2px;
        transition: background-color 0.3s;
        text-align: center;
        &:hover {
            background-color: rgba(198, 201, 198, 0.509);
        }
        cursor: pointer;
    }

    .activePage {
        background-color: aqua;
        color: black;
    }

    .nonActivePage {
        background-color: white;
    }
}
